.scritto-form {
  width: 100%;
  max-width: 388px;
  background-color: white;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scritto-form-container {
  display: flex;
  justify-content: center;
}