.login-container {
  background-image: url("../../../public/assets/LoginHeaderGraphicMobile.png");
  height: 100svh;
  padding: 230px 5% 0 5%;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-cta {
  width: 100%;
  max-width: 388px;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
}

.login-form {
  height: 100%;
  max-height: 470px;
  width: 100%;
  max-width: 388px;
  background-color: white;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.circle-cutout {
  position: relative;
}

.circle-cutout::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 33%;
  height: 80%;
  width: 33%;
  background-color: #F3F3F3;
  //background: rgba(255, 255, 255, .5);
  clip-path: ellipse(50% 50% at 50% 100%);
}

.login-button {
  width: auto;
  height: 75px;
  position: absolute;
  bottom: 0;
  left: 39%;
  z-index: 1;
  margin-bottom: -20px;
}
