.login-container {
  background-image: url("../../assets/LoginHeaderGraphicMobile.svg");
  height: 100svh;
  padding: 0 5%;
  background-repeat: no-repeat;
  background-position: top;
}

.login-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.login-cta {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 388px;

  h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
  }
}

.login-form {
  width: 100%;
  max-width: 388px;
  background-color: white;
  border-radius: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay-login-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: #666666;
  opacity: .8;
  z-index: 1000;
}

@media only screen and (min-width: 768px) {
  .login-container {
    background-image: url("../../assets/LoginHeaderGraphicDesktop.svg");
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    padding: 0;
  }

  .login-content {
    height: 100svh;
    background-color: white;
    width: 47.5%;
  }

  .login-form > div {
    width: 100%;
  }

  .sign-up-cta-buttons {
    height: 100%;
    gap: 1rem;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
