.bigger-circle {
  height: 7em;
  width: 7em;
  background-color: #F3F3F3;
  border-radius: 50%;
  display: inline-block;
  margin-top: -3rem;

  svg {
    margin: 1rem 0;
    justify-self: center;
  }
}

@media only screen and (min-width: 768px) {
  .bigger-circle {
    background-color: transparent;
    display: initial;
  }
}
